In [1]:
%LOAD sqlite3 db=imdb.db timeout=2 shared_cache=true

In [2]:
SELECT *
  FROM movies
 LIMIT 5;

+----+--------------------------+--------------+--------+----------------------+---------+
| id | title                    | release_year | rating | director             | runtime |
+----+--------------------------+--------------+--------+----------------------+---------+
| 1  | The Shawshank Redemption | 1994         | 9.3    | Frank Darabont       | 142     |
+----+--------------------------+--------------+--------+----------------------+---------+
| 2  | The Godfather            | 1972         | 9.2    | Francis Ford Coppola | 175     |
+----+--------------------------+--------------+--------+----------------------+---------+
| 3  | The Godfather: Part II   | 1974         | 9      | Francis Ford Coppola | 202     |
+----+--------------------------+--------------+--------+----------------------+---------+
| 4  | The Dark Knight          | 2008         | 9      | Christopher Nolan    | 152     |
+----+--------------------------+--------------+--------+----------------------+---------+
| 5  | 12 Angry Men             | 1957         | 9      | Sidney Lumet         | 96      |
+----+--------------------------+--------------+--------+----------------------+---------+
5 rows in set (0.00 sec)